/* legadvance-abb megoldás :-) 50vw-50% függvénnyel a teljes képernyőn a tag 50%-val tolja el
h1 {
	position: fixed;
	transform: translate(calc(50vw - 50%), calc(50vh - 50%));	
}
*/

h1 {
	position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}